$nav-tabs-border-radius: 0;
$nav-tabs-border-color: $primary;
$nav-tabs-link-active-border-color: $primary;
$nav-tabs-link-active-color: white;
$nav-tabs-link-active-bg: $primary;
.nav-tabs {
  border: 0 !important;
}
