@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import "./theme/Colors.scss";

body {
  height: 100%;
  background: url(https://static.vecteezy.com/system/resources/previews/006/858/865/original/squared-paper-seamless-pattern-for-school-notebook-millimeter-graph-paper-grid-graph-4x4-per-inch-notebook-for-writing-hieroglyphs-editable-stroke-illustration-on-white-background-free-vector.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}
h2:not(.accordion-header) {
  text-align: center;
  margin-top: 3rem !important;
  margin-bottom: 1rem;
}
.noPadding p {
  padding: 0 !important;
  margin: 0 !important;
}
.content {
  margin: 0;
  font-size: larger;
  font-family: "Gloria Hallelujah", cursive;
  padding: 10px 0;
}
ul,
li:not(.nav-item) {
  margin-bottom: 1rem;
}
.contentArea {
  background-color: white;
  padding: 1rem;
  border: 1px solid $primary;
}
