@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

body,
html {
  height: 100%;
}
.bg,
.sb-main-padded {
  height: 100%;
  background: url(https://img.freepik.com/free-vector/crumpled-blue-checkered-paper-texture-realisric_107791-13515.jpg?w=1380&t=st=1681700446~exp=1681701046~hmac=557951a729e840565164169e496f7bc368104dbb58762104981d10b882a1ed58);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
